.un-authorized{
    background-color: rgb(99, 29, 164);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}   
.un-authorized .content{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;   
}

.un-authorized .content .button a{

    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.un-authorized .content .button a:hover{
    transform: scale(2);
    background-color: brown;
}


